/* general */
.jumbotron {
	padding: 0;
	margin: 0;
}
.jumbotron img {
	margin: auto;
	width: 100%;
}
.page-header {
	margin: 0;
	padding: 10px;
	background-color: #91d0ff;
	border: none;
}
#sidebar {
	background-color: #9dc4b1;
	height: 100vh;
}
#main {
	background-color: #fff8b0;
	height: 100vh;

}
#madteaparty {
	width: 40%;
	float: right;
	margin: 10px 0 10px 10px;
}

#footer {
	color: white;
	text-align: left;
	padding: 10px;
	background-color: #2d0029;
}
#footer p:last-child {
	text-align: right;
}
#footer a {
	color: white;
	text-decoration: none;

}
#footer a:hover {
	color: pink;
	text-decoration: none;
	cursor: pointer;
}

/*@media (max-height: @screen-md-max) {
	#sidebar {
		height: auto;
	}
}*/